:root {
  font-family: "Osaka", "Osaka-Mono", "MS Gothic", "MS PGothic", monospace;
  color: #111;
  background: #dfd8c8;
}

body {
  margin: 0;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 16px;
}
